body {
    
}

.navbar {
    background-color: #6ad1e3;
}

.navbar-brand {
    color: #ffffff;
}

.nav-link {
    color: #ffffff;
}

hr {
    border: solid 0.5px #6ad1e3;
}

.banner {
    padding-top: 6%;
    padding-bottom: 6%;
    color: #6ad1e3;
    background-image: url("https://images.milled.com/2017-04-28/mN_riAetyyFmh5mk/Ia7BL-_yXOSC.jpg");
    background-size: cover;
    border: solid 0.5px #6ad1e3;
    text-align: center;
}

.title {
    font-size: 60px;
    letter-spacing: 6px;
    color: #6ad1e3;
}


.countries {
    font-size: 30px;
    text-align: center;
    color: #000000;
}

.list-card {
    border: solid 0.5px #6ad1e3;
}

.list-area {
    margin-left: 10%;
    margin-right: 10%;
}

.list {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.list-names {
    color: #000000;
    letter-spacing: 2px;
}

    .list-names:hover {
        color: #6ad1e3;
        text-decoration: none;
    }

.country-detail-card, .add-country-card, .edit-card {
    border: solid 0.5px #6ad1e3;
    padding-top: 4%;
    padding-bottom: 4%;
    margin: 5% 20% 5% 20%;
}

.product-details-card {
    border: solid 0.5px #6ad1e3;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
}

.product-details-header, .product-details-footer {
    background-color: #6ad1e3;
    color: #ffffff;
}

.add-country {
    text-align: center;
    margin-top: 5%;
}

#add-country-link {
    color: #000000;
}

#add-country-link:hover {
    color: #000000;
    text-decoration: none;
}

.crud {
    text-align: center;
}

.back {
    text-align: center;
}

#sweet-photo {
    width: 25%;
    text-align: center;
}

.photo {
    text-align: center;
}

.add-product-link {
    text-align: center;
}

.add-product-card {
    margin: 4% 20% 4% 20%;
    border: solid 0.5px #6ad1e3;
    padding: 2%;
}

.products-list {
    border: solid 0.5px #6ad1e3;
    margin: 3% 20% 3% 20%;
}

.btn {
    color: #ffffff;
    background-color: #6ad1e3;
}

.btn:hover {
    color: #86CBDD;
    background-color: #ffffff;
    border: solid 0.5px #6ad1e3;
}

h4 {
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
}

#gummies-photo {
    width: 40%;
    padding-right: 1%;
    float: right;
}

.about-card {
    border: solid 0.5px #6ad1e3;
    padding: 3% 2% 3% 2%;
    margin: 5% 20% 5% 20%;
}

.card-columns {
    @include media-breakpoint-only(lg) {
        column-count: 4;
    }

    @include media-breakpoint-only(xl) {
        column-count: 5;
    }   
}

