@model GummiBearKingdom.Models.Product

@{
    ViewData["Title"] = "Delete Product";
}

<h1>Delete Product</h1>

<p>Are you sure you want to delete @Html.DisplayFor(model => model.Name)?</p>
<p class="back">@Html.ActionLink("Back", "Details", new{ productId = Model.ProductId})</p> 

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ProductId)
    <div class="d-flex justify-content-center">
        <input type="submit" value="Delete" class="btn btn-default" /> 
    </div> 
}