@model GummiBearKingdom.Models.Product

@{
    ViewData["Title"] = "Delete Product";
}

<div class="banner">
    <h1 class="title">DELETE PRODUCT</h1>
</div>

<h4>Are you sure you want to delete @Html.DisplayFor(model => model.Name)?</h4>
<p class="back">@Html.ActionLink("Back", "Details", new{ productId = Model.ProductId})</p> 

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ProductId)
    <div class="d-flex justify-content-center">
        <input type="submit" value="Delete" class="btn btn-default" /> 
    </div> 
}