@model IEnumerable<GummiBearKingdom.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<div id="products-banner">
    <h1 id="products-title">PRODUCTS</h1>
</div>

<p class="add-product-link">@Html.ActionLink("Add New Product", "Create")</p>


@foreach(var product in Model)
{
    <div class="card text-center products-list">
        <div class="card-block">
            <h4 class="card-title">@Html.ActionLink((string)product.Name, "Details", new{ productId = product.ProductId })</h4>
		    <p>Made in @Html.DisplayFor(model => product.Country.Name)</p>
	    </div>
    </div>
}

