@model IEnumerable<GummiBearKingdom.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<div class="banner">
    <h1 class="title">PRODUCTS</h1>
</div>

<p class="add-product-link">@Html.ActionLink("Add New Product", "Create")</p>

<div class="list-area">
    <div class="card-columns">
        @foreach (var product in Model)
        {
            <div class="card list-card">
                <div class="card-body list">
                    <h5 class="card-title">@Html.ActionLink((string)product.Name, "Details", new { productId = product.ProductId }, new { @class = "list-names" })</h5>
                    <p>Made in @Html.DisplayFor(model => product.Country.Name)</p>
                </div>
            </div>
        }
    </div>
</div>




