@model GummiBearKingdom.Models.Country

@{
    ViewData["Title"] = "Add Country of Origin";
}

<div class="banner">
    <h1 class="title">ADD A COUNTRY OF ORIGIN</h1>
</div>

@using (Html.BeginForm())
{
    <div class="card add-country-card">
        <div class="card-block">
            <div class="form-group row">
                <label class="col-md-2">Country of Origin:</label>
			    <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Name, new {@class="form-control"})
			    </div>
		    </div>
		    <input type="submit" value="Add" class="btn btn-default" />
	    </div>
    </div>
}

<p class="back">@Html.ActionLink("Back", "Index")</p>