@model GummiBearKingdom.Models.Country

@{
    ViewData["Title"] = "Delete Country";
}
<div class="delete-banner">
    <h1 class="delete-title">DELETE COUNTRY</h1>
</div>

<h4>Are you sure you want to delete @Html.DisplayFor(model => model.Name)?</h4>

<p class="back">@Html.ActionLink("Back to Details", "Details", new{ countryId = Model.CountryId})</p>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.CountryId)
    <div class="d-flex justify-content-center">
        <input type="submit" value="Delete" class="btn btn-default" />
    </div>

}