@model IEnumerable<GummiBearKingdom.Models.Country>

@{
    ViewData["Title"] = "Countries";
}

<h1>Countries of Origin</h1>
<p>@Html.ActionLink("Add New Country", "Create")</p>

<div class="card">
    <div class="card-block">
        @foreach(var country in Model)
        {
            <p class="card-text">@Html.ActionLink((string)country.Name, "Details", new{ countryId = country.CountryId})</p>
        }
    </div>
</div>	