@model IEnumerable<GummiBearKingdom.Models.Country>

@{
    ViewData["Title"] = "Countries";
}

<div id="countries-banner">
    <h1 id="countries-title">COUNTRIES OF ORIGIN</h1>
</div>



<div class="card country-card">
    <div class="card-block">
        @foreach(var country in Model)
        {
            <p class="card-text countries">@Html.ActionLink((string)country.Name, "Details", new{ countryId = country.CountryId}, new{ @id="countries-list"})</p>
        }
		<p class="add-country">@Html.ActionLink("Add New Country", "Create", new{ @id="add-country-link" })</p>
    </div>
</div>	